html,body {
    height: 100%;
    min-height: 100%;
    background-color: rgba(224, 248, 255, 0.274);
  }
*{
    margin: 0px;
    text-align: center;
}

h1, h3{
    font-size: 36px;
    font-weight: 600;
    padding: 20px;
    color: rgb(42, 14, 167);
    background-color: #b8d9d2;
}

ul li, p{
    font-size: 18px;
    padding: 1%;
    list-style-type: disc;
    list-style-position: inside;
    text-align: left;
}

h4{
    font-size: 20px;
    font-weight: 600;
    padding: 1%;
    text-align: left;
}

footer{
    background-color: #b8d9d2;
    padding-bottom: 1%;
}
div p{
    color: rgb(0, 33, 105);
    padding: 1%;
    font-weight: 600;
    font-size: 18;
    text-align: left;
}

ol li{
    padding: 1%;
    list-style-type: decimal;
    list-style-position: inside;
    text-align: left;
}
